@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

a,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-image: url(./img/rmira-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;

  /* position: fixed; */
}

.header-navbar a:hover {
  color: #704f4f;
}

.header-content {
  background: linear-gradient(90deg, #222, #010305d0, #ff0000d0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 10s linear infinite;
  position: relative;
}
#menu-icon {
  font-size: 25px;
  display: none;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
.logo-img {
  filter: saturate(90);
}

#up-wrapper {
  position: fixed;
  bottom: 0;

  -webkit-animation: bounce 1s infinite;
}
@-webkit-keyframes bounce {
  0% {
    bottom: 5px;
  }
  25%,
  75% {
    bottom: 15px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}
.fa-solid {
  font-size: 30px;
  color: red;
  margin: 20px;
}

ul {
  display: flex;
}

li {
  margin-left: 30px;
}

a {
  color: #222;
  /* font-weight: bold; */
  font-size: 16px;
}

.header-text {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #222;
}

h1 {
  font-size: 5.5em;
  font-weight: 100, bold;
  line-height: 0.4;
  /* letter-spacing: 3px; */
}

h3 {
  margin-top: 25px;
  font-size: 2rem;  
}

.btn-header {
  color: #222;
  background-color: rgba(225, 225, 225, 0.5);
  border-radius: 25px;
  margin-top: 85px;
  display: block;
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
}

.hidden {
  display: none;
}

.btn-header::after {
  content: "Start";
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fdeedc;
  color: #222;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-header:hover::after {
  top: 0;
  transition: 0.5s;
}

.what-we-do {
  margin-bottom: 150px;
}

.what-we-do-content,
.about-content,
.products-content,
.kvkk-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.what-we-do-img,
.about-img,
.products-img,
.kvkk-img {
  width: 50%;
}
.what-we-do-img img,
.about-img img,
.products-img img,
.kvkk-img img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.what-we-do-text,
.about-text,
.products-text,
.kvkk-text {
  width: 100%;
  padding: 0 80px;
  color: #222;
  /* text-align: center; */
}

h4 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 45px;
}
.about p,
.what-we-do p,
.products p,
.kvkk p {
  font-size: 1.5rem;
}

.about,
.kvkk {
  margin-bottom: 150px;
  background-color: #cfd2cf;
}

.about-img img,
.kvkk-img img {
  padding-top: 5px;
}


/* ================= CONTACT START ====================== */

.contact {
  padding: 10px 0;
  margin-top: -100px;
}

.contact h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #222;
  font-size: 30px;
  font-weight: 600;
}

.contact h2::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #222;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.contact-content {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

.contact-item {
  display: flex;
  align-items: center;
  flex-basis: 33%;
  margin-bottom: 100px;
  flex-direction: column;
}

.contact-item i {
  font-size: 25px;
  margin-bottom: 30px;
  color: #222;
}

.contact-item p {
  font-size: 1.5rem;
  line-height: 25px;
}

/* ================= CONTACT END ====================== */

/* ============= FOOTER START ================== */

.footer h2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #998a76;
  font-size: 30px;
  font-weight: 600;
  padding: 20px 0;
}

.footer h2::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #998a76;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.footer {
  background-color: #222;
}

.footer-copyright {
  color: #cfd2cf;
  text-align: center;
  flex-basis: 50%;
  line-height: 2;
  font-size: 12px;
  margin-top: 10px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-social i {
  color: #cfd2cf;
  margin-bottom: 30px;
  font-size: 25px;
  padding: 0 60px;
}

.footer-social i:hover {
  color: #704f4f;
}

.footer-social:first-child {
  margin-left: 75px;
}

/* ============= FOOTER START ================== */

/* ========== RESPONSIVE ================== */

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 4.9rem;
    letter-spacing: 2px;
  }
  h3 {
    font-size: 2rem;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 992px) {
  .header-navbar {
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: rgba(225, 225, 225, 0.5);
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
  }
  .header-menu ul li {
    margin-right: 50px;
    margin-bottom: 5px;
  }
  .header-menu ul li a {
    color: #222;
  }
  .header-navbar #menu-icon {
    display: block;
    cursor: pointer;
  }
  h1 {
    font-size: 3.6rem;
    letter-spacing: 2px;
  }
  h3 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  #menu-icon {
    margin-left: 650px;
  }
}

@media only screen and (max-width: 768px) {

  
  .container {
    height: 100%vh;
  }

  .what-we-do-img img {
    height: 100%;
  }

  .what-we-do-text,
  .about-text {
    width: 60%;
    font-size: 1rem;
  }

  h4 {
    font-size: 40px;
  }
  h1 {
    font-size: 4.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }
  #menu-icon {
    margin-left: 400px;
  }

}

@media only screen and (max-width: 600px) {
  .what-we-do-img img {
    height: 100%;
  }

  .about-img img {
    height: 70vh;
  }

  .what-we-do-text,
  .about-text {
    width: 60%;
    font-size: 10px;
  }

  h4 {
    font-size: 25px;
  }

  .contact-item i {
    font-size: 22px;
  }

  .contact-item p {
    font-size: 0.8rem;
    line-height: 20px;
  }
  h1 {
    font-size: 4.2rem;
    /* letter-spacing: 2px; */
    margin-top: 10rem;
  }
  h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    width: 100vh;
    text-align: center;
  }
  #menu-icon {
    margin-left: 120px;
  }
}


@media only screen and (max-width: 400px) {
.what-we-do-content,
.about-content,
.products-content,
.kvkk-content{
  width: 100%;
}

.what-we-do-text p,
.about-text p,
.products-text p,
.kvkk-text p{
  width: 120px;
  font-size: 0.8rem;
}


.kvkk-text{
  padding: 0;
}

.what-we-do-img,
.about-img,
.products-img,
.kvkk-img{
 max-width: 100%;
 height: auto;
}

  .what-we-do-img img,
  .about-img img,
  .products-img img,
  .kvkk-img img{
  max-width: 100%;
  height: auto;
  }
/* ========== RESPONSIVE ================== */
